﻿@{
    ViewData["Title"] = "Página Principal";
}

<div class="container mt-5">
    <div class="jumbotron bg-light p-5 rounded">
        <div class="text-center mb-4">
            <img src="https://media.istockphoto.com/id/1030995160/es/vector/edificio-moderno-de-escuela-fina-ilustraci%C3%B3n-de-vector-de-l%C3%ADnea-dise%C3%B1o-estilo.jpg?s=612x612&w=0&k=20&c=_D_1JM-vSqAblStzJiKNkTsAcMLzw2HR5hYbdKtqCBc=" alt="Imagen de colegio" class="img-fluid rounded" style="max-width: 300px;">
        </div>

        <h1 class="display-4">Bienvenido a la Gestión Académica</h1>
        <p class="lead">Esta es la página principal donde puedes gestionar los alumnos, cursos, profesores y más.</p>
        <hr class="my-4">
        <p>Explora las funcionalidades desde el menú o utiliza los accesos directos a continuación:</p>

        <div class="d-flex flex-wrap gap-2 mt-3">
            <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Estudiantes")" role="button">Ver Estudiantes</a>
            <a class="btn btn-success btn-lg" href="@Url.Action("Index", "Cursos")" role="button">Ver Cursos</a>
            <a class="btn btn-dark btn-lg" href="@Url.Action("Index", "Matriculas")" role="button">Ver Matriculas</a>
        </div>
    </div>
</div>